.vcenter{
    height: 100vh;
    display: table;
}

.content {
    display:table-cell;
    vertical-align:middle;
}

.clickable {
    cursor:pointer;
}

.pull-bottom-padding-30 {
    padding-top: 30px;
}

.navbar-sharp-corners {
    border-radius:0px;
}

.navbar-sharp-corners li {
    border: none !important;
}

.panel.clickable:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.nav li {
    border: 1px solid #ddd;    
}

.nav li button {
    text-decoration: none !important;
}

.bottom-buffer {
    margin-bottom: 60px;
}

.select2 {
    width: 100%;
}

.bar1 {
  fill: #008FFA;
  cursor:pointer;
}

.bar1:hover {
  fill: #4BB0FB;
}

.bar2 {
  fill: #FF9E2D;
  cursor:pointer;
}

.bar2:hover {
  fill: #FFB473;
}

.chart text {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.westminster {
    fill: none;
    stroke: #ddd;
    shape-rendering: geometricPrecision;
}

.westminster text{
    stroke:#333;
    font-size:10px;
    font-weight: 100;
}

.busy-indicator-height {
    height:15px;    
}