.vcenter{
    height: 100vh;
    display: table;
}

.content {
    display:table-cell;
    vertical-align:middle;    
}

.clickable {
    cursor:pointer;
}

.panel.clickable:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.select2 {
    width: 100%;
}

.bar1 {
  fill: #008FFA;
  cursor:pointer;
}

.bar1:hover {
  fill: #4BB0FB;
}

.bar2 {
  fill: #FF9E2D;
  cursor:pointer;
}

.bar2:hover {
  fill: #FFB473;
}

.chart text {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}