.vcenter{
    height: 100vh;
    display: table;
}

.content {
    display:table-cell;
    vertical-align:middle;    
}

.clickable {
    cursor:pointer;
}

.select2 {
    width: 100%;
}

.ayebar {
  fill: #3c763d;
  cursor:pointer;
}

.ayebar:hover {
  fill: #2b542c;
}

.nobar {
  fill: #a94442;
  cursor:pointer;
}

.nobar:hover {
  fill: #843534;
}

.chart text {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}